@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-background: hsl(0 0% 100%);
  --color-white: hsl(0 0% 100%);
  --color-primary: hsl(220 90% 70%);

  --color-btn-default-text: hsl(218 5.3% 70.6%);
  --color-btn-primary-filled: hsl(34 100% 50%);
}

@layer dark {
  [data-theme=dark] {
    --color-background: hsl(0 0% 0%);
    --color-white: hsl(0 0% 100%);
    --color-primary: hsl(220 90% 70%);

    --color-btn-default-text: hsl(218 5.3% 70.6%);
    --color-btn-primary-filled: hsl(27 100% 47%);
  }
}

@layer utilities {
  .tap-transparent {
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  background-color: var(--color-background);
}